@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.item {
  position: absolute;
  left: max(calc(200px * 12), 100%);
  animation-name: scrollLeft;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  // @media screen and (max-width: 820px) {
  //     width: 150px;
  //     height: 150px;
  //     left: max(calc(150px * 12), 100%);
  // }
}
