@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.scss";

body {
  overflow-x: hidden;
  background-color: #1a1b1e;
  margin: 0;
  scroll-behavior: smooth;
  @media (min-width: 768px) {
    background-image: url("/Landing\ Page\ \(1\).png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    background-image: url("/Mobile\ \(1\).png");
    background-size: cover;
  }
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.swiper-wrapper {
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;

  width: 100% !important;
  height: 320px !important;
  @media (min-width: 768px) {
    height: 490px !important;
  }
}

.introBg {
  @media (min-width: 768px) {
    background-image: url("/desktopIntro.png");
    background-size: cover;
  }
  @media (max-width: 768px) {
    background-image: url("/mobileIntro.png");
    background-size: cover;
  }
}

.formBg {
  @media (min-width: 768px) {
    background-image: url("/formbgFix.png");
    background-size: cover;
  }
}

@keyframes scrollLeftLogos {
  to {
    left: -150px;
  }
}

@keyframes scrollLeft {
  to {
    left: -450px;
  }
}

@keyframes scrollRight {
  to {
    right: -450px;
  }
}

.itemLogosDesktop {
  position: absolute;
  left: max(calc(150px * 6), 100%);
  animation-name: scrollLeftLogos;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.itemReviewsRight,
.itemReviewsLeft {
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.itemReviewsRight {
  right: max(calc(392px * 6), 100%);
  animation-name: scrollRight;
  @media (max-width: 767px) {
    right: max(calc(210px * 6), 100%);
  }
}

.itemReviewsLeft {
  left: max(calc(392px * 6), 100%);
  animation-name: scrollLeft;
  @media (max-width: 767px) {
    left: max(calc(210px * 6), 100%);
  }
}

.item0 {
  animation-delay: calc(60s / 6 * (6 - 1) * -1);
}

.item1 {
  animation-delay: calc(60s / 6 * (6 - 2) * -1);
}

.item2 {
  animation-delay: calc(60s / 6 * (6 - 3) * -1);
}

.item3 {
  animation-delay: calc(60s / 6 * (6 - 4) * -1);
}

.item4 {
  animation-delay: calc(60s / 6 * (6 - 5) * -1);
}

.item5 {
  animation-delay: calc(60s / 6 * (6 - 6) * -1);
}
