@font-face {
  font-family: "SF Pro Text";
  font-weight: 800;
  src: url("/fonts/SFProText-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro";
  src: url("/fonts/SF-Pro.ttf") format("truetype");
}

@font-face {
  font-family: "SF Compact";
  font-weight: 300;
  src: url("/fonts/SFCompactDisplay-Light.otf") format("opentype");
}

@font-face {
  font-family: "SF Compact";
  font-weight: 400;
  src: url("/fonts/SFCompactDisplay-Regular.otf") format("opentype");
}

@font-face {
  font-family: "M PLUS 1";
  font-weight: 500;
  src: url("/fonts/MPLUS1-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Geist";
  font-weight: 400;
  src: url("/fonts/Geist-Regular.otf") format("opentype");
}
